<header id="siteHeader">
  <div class="wrap nav-row">
    <a href="index.html" class="logo"><span class="logo-switch"></span><span style="color:#1B3FD9">On<span style="color:gray">Off</span></span> Ai</a>
    <nav>
      <ul>
        <li><a href="index.html#about">코딩·로봇교육</a></li>
        <li><a href="index.html#">AR·VR</a></li>
        <li><a href="index.html#">메이커</a></li>
        <li><a href="index.html#">찾아가는 AI체험</a></li>
        <li><a href="index.html#">기자재</a></li>
        <li><a href="index.html#">공간구축</a></li>
        <li><a href="https://shoponedu.net/goods/goods_list.php?cateCd=012" target="_blank">쇼핑몰</a></li>
      </ul>
    </nav>
    <a href="consult.html" class="nav-cta">온라인 상담</a>
  </div>
</header>
